html {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-font-smoothing: antialiased; /* chrome、safari */
  -moz-osx-font-smoothing: grayscale; /* firefox */
}

body {
  margin: 0;
  font-family: $base-font-family;
}

html, body {
  width: 100vw;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

input,
button,
textarea {
  color: inherit;
  font: inherit;
}

a,
input,
button,
textarea,
[class*='van-'] {
  &:focus {
    outline: none;
  }
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

main {
  display: block;
}

h1 {
  margin: 0.67em 0;
  font-size: 2em;
}

h2, h3, h4 {
  margin: 0;
}

p {
  margin: 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

a {
  background-color: transparent;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
}

textarea {
  overflow: auto;
}



.flex {
  display: flex;
}

.align-center {
  display: flex;
  align-items: center;
}

.align-bottom {
  display: flex;
  align-items: flex-end;
}

.justify-between {
  display: flex;
  justify-content: space-between;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.justify-around {
  display: flex;
  justify-content: space-around;
}

.flex-1 {
  flex: 1;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
}

.ellipsis-1 {
  @include multi-ellipsis(1);
}

.ellipsis-2 {
  @include multi-ellipsis(2);
}


.shadow {
  box-shadow: 0 1px 3px rgb(18 18 18 / 10%);
}